{% extends "base.html.twig" %}
{% block title %}
    Symrecipe-{{ recipe.name }}
{% endblock %}
{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
           <div class="alert alert-success">
            {{ message }}
           </div> 
        {% endfor %}
        <h1 class="mt-4">{{ recipe.name }}</h1>
        <div class="recipe-image">
            <img style = " max-width:200px " src="{{ vich_uploader_asset(recipe,'imageFile')}}" alt="">
        </div>
        
        <p>{{ recipe.average | number_format('2','.',',')}}</p>
      
        <span class="badge bg-primary mb-4">Créee le {{ recipe.createdAt|date('d/m/Y')}}</span>
        {% if recipe.time %}
            <p>Temps (en minutes) : {{ recipe.time }}</p>
        {% else %}
            <p>Temps non renseigné</p>
        {% endif %}
        
        {% if recipe.nbPeople %}
            <p>Pour {{ recipe.nbPeople }} personnes</p>
        {% else %}
            <p>Nombre de personnes non renseigné</p>
        {% endif %}

        {% if recipe.difficulty %}
            <p>Difficulté : {{ recipe.difficulty }}/5</p>
        {% else %}
            <p>Difficulté non renseigné</p>
        {% endif %}
        
        {% if recipe.price %}
            <p>Prix (en euro): {{ recipe.price }}</p>
        {% else %}
            <p>Prix non renseigné</p>
        {% endif %}
        
        
        <div>Description : {{ recipe.description|raw}}</div>
        
        <p class="mt-4">Ingrediens</p>
        {% for ingredient in recipe.ingredients %}
            <p class="badge bg-primary">{{ ingredient.name }}</p>
        {% endfor %}
        {{ form(form) }}
        



    </div>
{% endblock %}